#currentPage{
    color : green;
}

body{
    background-color: orange;
}

.menu{
    display: flex;
}

.contenu{
    text-align: center;
    color : red;
    font-style: italic;
}

img{
    width: 50%;
    height: 50%;
    align-items: center;
}

#mainNav{
    margin-top: 20px;
}

.navbar-link{
    margin-right: 10px;
}