#currentPage{
    background-color:#1abc9c;
    color:white;
    padding : 5px;
}

body{
    background-color: orange;
}

.menu{
    display: flex;
}

.contenu{
    text-align: center;
    color : red;
    font-style: italic;
}

img{
    width: 50%;
    height: 50%;
    align-items: center;
}

.navbar-link{
    margin-right: 10px;
}

.page-section-heading{
    margin-top: 30px;
}

.linkedin_link{
    color:white;
}

.navbar-link:hover{
    background-color:#1abc9c;
    color:white;
    padding : 5px;
}

.navbar-link{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
