#currentPage{
    color:black;
}

body{
    background-color: orange;
}

.menu{
    display: flex;
}

.contenu{
    text-align: center;
    color : red;
    font-style: italic;
}

img{
    width: 50%;
    height: 50%;
    align-items: center;
}

.navbar-link{
    margin-right: 10px;
}

.page-section-heading{
    margin-top: 30px;
}

.linkedin_link{
    color:white;
}
